*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#071128;
color:#fff;
}

.container{
display:flex;
min-height:100vh;
}

button,
input{
outline:none;
}